* {
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
}

.title {
  margin-bottom: 100px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 33.3%;
  text-align: center;
  padding: 30px 20px;
}
