@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: rgb(164, 225, 226);
  background: linear-gradient(
    0deg,
    rgba(164, 225, 226, 1) 0%,
    rgba(255, 229, 172, 1) 100%
  );
}

.title {
  font-family: "Emilys Candy", cursive;
  margin: 10vh 0 100px;
  text-align: center;
  font-size: 80px;
  color: #589696;
}

#storyTitle {
  text-align: left;
  margin-bottom: 0;
}

article {
  line-height: 1.8;
  font-size: 26px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 33.3%;
  text-align: center;
  padding: 30px 20px;
}

.col label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.col input,
select {
  padding: 8px 12px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff70;
}

select {
  width: 100%;
}

.submit,
.button {
  margin: 100px auto;
  border: 2px;
  border-color: black;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 20px;
  background-color: #f1e0b2;
  color: #4a8080;
  cursor: pointer;
  display: flex;
}

a {
  text-decoration: none;
  color: #4a8080;
}
